@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>product index</h1>

<p>@ViewBag.prd.Id</p>
<p>@ViewBag.prd.Name</p>
<p>@ViewBag.prd.Price</p>